@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/static/images/homeimage.png");
  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  position: relative;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 1000;
  height: 120px;
}

.navbar.opaque {
  background-color: rgba(255, 255, 255, 0.95);
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar a {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 10px;
  font-size: 1.5em;
  text-decoration: none;
  color: #ea716d;
  border: none;
  cursor: pointer;
}

.navbar-logo {
  position: absolute;
  left: 20px;
  top: 10;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 120px;
  width: auto;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  margin: 0 15px;
}

.navbar-links img {
  height: 40px;
  width: auto;
  margin-bottom: 5px; /* Add some space between the icon and text */
}

.navbar a:not(:first-child).active,
.navbar a:not(:first-child).active img {
  color: #f24040;
}

.main-content {
  /* Ensures there's enough content to scroll */
  min-height: 200vh; /* Example height, adjust as needed */
  position: relative; /* For positioning inner elements */
  padding: 20px; /* Optional padding */
}

.get-started-button-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -20%); /* Adjusts for the element's dimensions */
}

.get-started-button {
  display: inline-block;
  padding: 20px 40px; /* Increased padding for a larger button */
  background-color: #ea716d; /* Example background color */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline from link */
  font-size: 1.7em; /* Increased font size for larger text */
  font-family: "Roboto", sans-serif; /* Set the font to Roboto */
  border-radius: 25px; /* Increased to make the button rounder */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.get-started-button:hover {
  background-color: #ea716daf; /* Darker shade for hover effect */
}

.smart-badger-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold; /* Make the font bold */
  color: rgba(0, 0, 0, 0.767); /* Set text color to black */
  font-size: 60px; /* Adjust the font size as needed */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Space between the text and the button */
  position: absolute; /* Position the element */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -220%); /* Center the element */
}

.navbar-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Push buttons to the right */
}

.navbar-button {
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #ea716d; /* Red background color */
  color: white !important; /* White text color */
  text-decoration: none;
  font-family: "Roboto", sans-serif; /* Roboto font */
  font-weight: bold;
  margin-left: -200px; /* Add some spacing between buttons */
}

.navbar-button:not(:last-child) {
  margin-right: 195px; /* Add margin to all buttons except the last one */
}

.navbar-button:hover {
  background-color: #ea716daf; /* Darker red on hover */
}

.login-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
  color: #ea716d; /* Adjust color as needed */
  margin-right: -140px; /* Add spacing between login text and buttons */
}
