<div class="navbar">
  <!-- Logo on the far left outside the centered container -->
  <a href="{{ url_for('home') }}" class="navbar-logo">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />
  </a>

  <!-- Centered Navigation Links with Icons -->
  <div class="navbar-content">
    <div class="navbar-links">
      <a href="{{ url_for('home') }}">
        <img
          src="{{ url_for('static', filename='images/home.png') }}"
          alt="home"
        />Home
      </a>
      <a href="{{ url_for('chat') }}">
        <img
          src="{{ url_for('static', filename='images/chat.png') }}"
          alt="Chat"
        />Chat
      </a>
      <a href="{{ url_for('account') }}">
        <img
          src="{{ url_for('static', filename='images/account.png') }}"
          alt="Account"
        />Account
      </a>
      <a href="{{ url_for('about') }}">
        <img
          src="{{ url_for('static', filename='images/about.png') }}"
          alt="About"
        />About
      </a>
    </div>
  </div>

  <!-- Buttons on the far right -->
  <div class="navbar-buttons">
    <a href="{{ url_for('signin') }}" class="navbar-button">Log In</a>
    <a href="{{ url_for('signup') }}" class="navbar-button">Sign Up</a>
  </div>
</div>
