<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Badger+</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include '_navbar.html' %}
    <h1>About Badger+</h1>
    <p>
      This is a web application designed to help UW-Madison students manage
      their academic and social lives more effectively.
    </p>
  </body>
</html>
